@model Groovy.ViewModels.SongsViewModel;
@{
    ViewData["Title"] = "Музика";
    string username = Context.Session.GetString("Username");
    bool isGuest = username == "Гост";
    bool isAdmin = username == "admin";
}

<h3>Музика:</h3>

<form method="get" asp-action="Songs">
    <div class="form-group">
        <label class="form-label text-muted" for="searchTerm">Потърсете:</label>

        <div class="input-group">
            <input id="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Име на песен, автор, жанр..." aria-label="Search bar with a search button" aria-describedby="button-addon4" value="@Model.SearchTerm">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-orange" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
</form>


@Html.Partial("_SongGrid", Model)
